-i https://pypi.org/simple

# Development
# -----------------------
geotribu>=0.34.3,<1
pre-commit>=3.8,<4

# Project requirements
# -----------------------

mkdocs-glightbox>=0.3,<0.5
mkdocs-rss-plugin>=1.16,<1.17
